
body {
  background-color: #fff;
  color: #778899;
  font-family: Garamond, serif;
  max-width: 60em;
  margin: 0 auto;
  padding: 0 5%;
}

h1 {
 font-family: copperplate, serif;
 line-height: 1em;
 border: 0.1em solid #778899;
 padding: 1em;
 margin: 0.5em;
}

img {
  max-width: 100%;
  height: auto;
}
/* flexible images */

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/*center image*/

figure {
  text-align: center;
}
