
body {
  background-color: #fff;
  color: #778899;
  font-family: Garamond, serif;
  max-width: 60em;
  margin: 0 auto;
  padding: 0 5%;
}

h1.header {
 font-family: copperplate, serif;
 color: #ffa07a;
 text-align: center;
 border: 0.4em solid #778899;
 max-width: 60em;
 padding: 2em;
 margin: 2em;
}
/* border: 0.4em solid #778899;
 line-height: 1em;
 padding: 1em;
 margin: 0.5em; */

h3.ingredients {
  line-height: 3em;
}

ul {
  line-height: 2.5em;
}

h3.directions {
  line-height: 3em;
}

ol {
  line-height: 2.5em;
}
ul li::marker {
  color: #ffa07a;
}

ol li::marker {
  color: #ffa07a;
}

img {
  max-width: 100%;
  height: auto;
}
/* flexible images */

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
/*center image*/

figure {
  text-align: center;
  margin: 1em;
}
figcap {
  border: 0.1em solid #ffa07a;
  max-width: 10em;
  padding: 2em;
  margin: 1em;
}

a {
  margin: 1em;
}
