body {
  background-color: #fff8dc;
  color: #778899;
  font-family: Garamond, serif;
  font-size: 20px;
  max-width: 48em;
}

h1 {
 font-family: copperplate, serif;
 font-size: 30px;
 line-height: 1em;
 border: 0.1em solid #fff;
 padding: 1em;
 margin: 0.5em;
}

img {
  max-width: 100%;
  height: auto;
}
/* flexible images */

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/*center image*/

figcap {
  color: #ff6347;
  text-align: center;
}
