
body {
  background-color: #fff;
  color: #778899;
  font-family: Garamond, serif;
  max-width: 60em;
  margin: 0 auto;
  padding: 0 5%;
}

h1.header {
 font-family: copperplate, serif;
 color: #ffa07a;
 text-align: center;
 border: 0.2em solid #778899;
 max-width: 60em;
 padding: 1em;
 margin: 2em;
}
/* border: 0.4em solid #778899;
 line-height: 1em;
 padding: 1em;
 margin: 0.5em; */

h3.ingredients {
  line-height: 2em;
}

.list-featured::before {
  top: 0;
  left: 0;
  border-top: 0.1rem solid #ffa07a;
  border-left: 0.1rem solid #ffa07a;
}

.list-featured::after {
  bottom: 0;
  right: 0;
  border-bottom: 0.1rem solid #ffa07a;
  border-right: 0.1rem solid #ffa07a;
}

ul {
  line-height: 2em;
}

h3.directions {
  line-height: 2em;
}

ol {
  line-height: 2em;
}
ul li::marker {
  color: #ffa07a;
}

ol li::marker {
  color: #ffa07a;
}

img {
  max-width: 100%;
  height: auto;
}
/* flexible images */

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
/*center image*/

figure {
  text-align: center;
  color: #ffa07a;
  margin: 1em;
}

a {
  line-height: 2.5em;
}
