body {
  background-color: #fff8dc;
  color: #778899;
}

h1 {
  color: #ff6347;
}

img {
  max-width: 100%;
  height: auto;
}
/* flexible images */

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

figcap {
  color: #ff6347;
}
